.sideBarContainer{
    background: #D7F9FF;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    position: absolute;
}

.sideBarContainer ul{
    list-style: none;
    color: #0E1C36;
}

.sideBarContainer a:hover{
    cursor: pointer;
    color: #FFEDE1;
}